/* Text align
-------------------------------------------- */
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.center {
  margin: 0 auto;
}
/* Text Size
-------------------------------------------- */
.size-2x {
  font-size: 2em;
}
.size-3x {
  font-size: 3em;
}
.size-4x {
  font-size: 4em;
}
.size-5x {
  font-size: 5em;
}
.size-6x {
  font-size: 6em;
}

/* container width
-------------------------------------------- */
.width30,
.width40,
.width50,
.width60,
.width70,
.width80,
.width90 {
  width: 100%;
  clear: both;
  display: block;
}

/* Empty space
-------------------------------------------- */
.empty {
  position: relative;
  width: 100%;
  height: 2em;
  clear: both;
}
/* Color
-------------------------------------------- */
.theme-color {
  color: var(--color-primary);
}
.white-color {
  color: #ffffff;
}
/* Buttons
-------------------------------------------- */
.button-link {
  position: relative;
  display: inline-block;
  border: 2px solid var(--color-primary);
  padding: 0.6em 1em;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
a.button-link, .button-link a {
  color: #ffffff;
}
a.button-link:hover, .button-link a:hover {
  color: var(--color-primary);
  border: 2px solid #ffffff;
}
.button-link:hover {
  padding: 0.6em 3em 0.6em 1em;
}
.button-link::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  height: 2px;
  width: 0;
  background: var(--color-primary);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.button-link:hover::after {
  width: 2em;
}

/* Services
-------------------------------------------- */
.services {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin: 0;
}
.service {
  margin: 0 0 2em 0;
  -webkit-box-flex: 1;
  flex: 1 1 100%;
  max-width: 100%;
  background: #181a25;
  background: var(--bg-content);
  padding: 2em;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.service-icon {
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.service-icon img {
  width: 50px;
  height: auto;
}
.service-icon i {
  color: var(--color-primary);
  font-size: 3em;
}
.service h3 {
  margin: 0.8em 0;
}
.service .button-link {
  text-transform: uppercase;
}
.service:hover .button-link {
  color: var(--color-primary);
  border: 2px solid #ffffff;
  padding: 0.6em 3em 0.6em 1em;
}
.service:hover .button-link::after {
  width: 2em;
}
.service:hover .service-icon {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}