/* Sidebar
--------------------------------------*/
/* Sidebar */
.sidebar {
  width: 100%;
  margin: 0 0 2em 0;
  width: 100%;
}
#sidebar-left, #sidebar-right {
  padding: 0;
}
/* Sidebar -> Sidebar block */
.sidebar .block {
  margin-bottom: 2em;
  padding: 1.6em;
  background: #181a25;
  background: var(--bg-content);
  border-radius: 4px;
  color: var(--color-text);
}
.sidebar a {
  color: #cfcfcf;
  color: var(--sidebar-link-color);
}
.sidebar a:hover {
  color: var(--color-primary);
}
/* Sidebar -> Form */
.sidebar input[type="text"],
.sidebar input[type="email"],
.sidebar input[type="url"],
.sidebar input[type="password"],
.sidebar input[type="search"] {
  background: transparent;
  width: 100%;
  border: 1px solid #282d38;
  border: 1px solid var(--border-color);
  outline: none;
}
.sidebar input[type="text"]:focus,
.sidebar input[type="email"]:focus,
.sidebar input[type="url"]:focus,
.sidebar input[type="password"]:focus,
.sidebar input[type="search"]:focus {
  border: 1px solid var(--color-primary);
}